# Arquivos de log e temporários
*.log
hs_err_pid*
replay_pid*

# Arquivos gerados pelo sistema operacional
.DS_Store
Thumbs.db

# Arquivos compilados do Java
*.class
*.jar
*.war
*.ear
*.nar

# Arquivos gerados pelo projeto
/Relatorio.pdf
/central.xml
teste/

# Diretórios de build do Maven e IntelliJ
/out/
/target/
.idea/shelf/

# Arquivos de configuração da IDE (IntelliJ)
.idea/workspace.xml
.idea/libraries/
*.iml

# Ignorar arquivos de pacotes
*.zip
*.tar.gz
*.rar
